body
{
    background-color: #9c9fc7;
    font-family: "Bebas Neue";
}


.card {
    background-color: rgb(248, 250, 252);
    display: flex;
    flex-direction: column; /* muda o fluxo para coluna */
    align-items: stretch; 
    padding: 2em; /* adiciona espaço interno */
    margin: 5em 10em;
    border-radius: 10px;
    gap: 1em; /* espaço entre os filhos (h2 e form) */
    width: 40%;
    max-width: 900px; /* opcional: limita a largura do card */
    min-width: 40px;
    box-shadow: 2px 2px 2px 2px #747272;
}

.checklist
{
    display: flex;
    flex-direction: column;
}

.card h2 {
    align-self: flex-start; /* centraliza apenas o título */
    font-size: 40px;
    margin: 0; /* tira margens padrão */
}

.form-opcoes {
    display: flex;
    width: 100%;
    gap: 0.5em; /* espaço entre input e botão */
}

.campoInput {
    flex: 1; /* ocupa todo o espaço restante */
}

.botao-enviar
{
    border-style:none;
    font-weight:700;
    color: rgb(250, 252, 248);
    background-color: rgb(77, 114, 196);
    border-radius: 6px;
    padding: 9px;
    font-family: "Titillium Web";
}

.botao-enviar:hover
{
    background-color: rgb(57, 59, 163);
}

.botao-excluir
{
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    flex-direction: row;
    border-style:none;
    height: 20px;
    width: 40px;
    font-weight:100;
    font-size: 10px;
    color: rgb(250, 252, 248);
    background-color: rgb(209, 58, 58);
    border-radius: 6px;
    padding: 9px;
    margin: 10px;
}

.classe-dinamica
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    
}